/*common*/
body {
  color: #333;
  background-color: #f2f2f2;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/*header*/
.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
}

.header__logo {
  float: left;
  opacity: .6;
  cursor: pointer;
}

.header__contact {
  float: right;
  padding: 14px 12px;
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  cursor: pointer;
}

.header__btn {
  float: right;
  display: none;
  margin: 8px 15px 8px 0;
  padding: 9px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: button;
  background-color: #fff;
}

.header__btn__bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #ccc;
}

.header__btn__bar:not(:first-child) { margin-top: 4px; }

.nav__wrapper {
  display: none;
  padding: 8px 0;
  border-top: 1px solid #e7e7e7;
}

.nav__wrapper__list {
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  background-color: #74cfae;
}

@media screen and (max-width: 767px) {
  .header__logo { margin-left: 15px; }
  .header__contact { display: none; }
  .header__btn,
  .is-active { display: block; }
}

/*main*/
/*section:keyvisual*/
.keyvisual {
  text-align: center;
  padding: 250px 15px;
  margin-top: 79px;
}

.keyvisual__title {
  margin-bottom: 20px;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.keyvisual__txt {
  font-size: 30px;
  color: #c0c0c0;
}

@media screen and (max-width: 767px) {
  .keyvisual { padding: 160px 15px 130px; }
  .keyvisual__title { font-size: 80px; }
}

/*section:what-we*/
.what-we {
  text-align: center;
  padding-top: 50px;
  background-color: #74cfae;
}

.what-we__img-box {
  float: left;
  width: 30%;
}

.what-we__img { display: inline-block; }

.what-we__txt-box {
  float: right;
  width: 60%;
}

.what-we__title {
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 24px;
  font-family: Raleway;
  color: #fff;
}

.what-we__txt {
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .what-we { padding-bottom: 25px;}
  .what-we__img-box,
  .what-we__txt-box {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
}

/*section:our-latest-work*/
.work {
  text-align: center;
  padding: 60px 0 70px;
}

.work__title { font-size: 24px; }

.work__main {
  position: relative;
  margin-top: 40px;
  font-size: 0;
}

.work__main > li {
  display: inline-block;
  margin:0 100px 80px 0;
  box-sizing: border-box;
  opacity: .7;
}

.work__main > li:nth-child(3n) { margin-right: 0; }

.work__img {
  width: 100%;
  max-width: 300px;
  opacity: .7;
  cursor: pointer;
}

.work__main > li:hover { opacity: 1; }

.work__sub {
  position: relative;
  font-size: 0;
  margin-top: 10px;
}

.work__sub__txt {
  display: inline-block;
  width: 60%;
  font-size: 20px;
  line-height: 1.3;
  margin-right: 90px;
}

.work__sub__btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 20px;
  width: 25%;
  max-width: 150px;
  font-size: 20px;
  color: #fff;
  background-color: #74cfae;
  cursor: pointer;
}

.work__sub__btn:hover { color: #333; }

@media screen and (max-width: 1199px) {
  .work__main > li {
    width: 100%;
    margin-bottom: 0;
  }

  .work__main > li:nth-child(3n) { margin-bottom: 80px; }
  .work__sub { margin-top: 0; }
  .work__sub__txt,
  .work__sub__btn { width: 100%;}
  .work__sub__txt { margin: 0 0 40px 0; }
}

/*section:our-skills*/
.skills {
  text-align: center;
  padding: 70px 0 100px;
  background-color: #4e4e4e;
}

.skills__title {
  margin-bottom: 50px;
  font-size: 24px;
  color: #fff;
}

.skills__list {
  position: relative;
  font-size: 0;
}

.skills__list > li {
  display: inline-block;
  margin-right: 180px;
  font-size: 16px;
  color: #fff;
}

.skills__list > li:last-child { margin-right: 0; }

.skills__list__img { margin-bottom: 10px; }

@media screen and (max-width: 1199px) {
  .skills__list > li {
    display: block;
    margin:0 0 88px 0;
  }
  .skills__list > li:last-child { margin-bottom: 0; }
}

/*section:main-sns*/
.sns { padding: 200px 15px; }

.sns__list {
  position: relative;
  text-align: center;
  font-size: 0;
}

.sns__list > li {
  display: inline-block;
  padding: 30px 0;
  width: 25%;
  max-width: 200px;
  font-size: 16px;
  color: #74cfae;
  cursor: pointer;
}

.sns__list > li:hover { background-color: #fff; }

@media screen and (max-width: 767px) {
  .sns { padding: 50px 15px; }
  .sns__list > li {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: none;
  }
}

/*footer*/
footer { background-color: #74cfae; }

.footer__txt {
  float: right;
  color: #fff;
  margin: 20px 15px 25px 0;
}